@font-face {
    font-family: 'Hisyam';
    src: url('/fonts/Hisyam.otf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

.customFont {
    font-family: 'Hisyam', sans-serif;
}